name: Update README on Main

on:
  push:
    branches:
      - main

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT_TOKEN }}

      - name: Get version from package.json
        id: package_version
        run: echo "VERSION=$(jq -r .version package.json)" >> $GITHUB_ENV

      - name: Extract latest commit message
        id: latest_commit
        run: echo "CHANGE_LOG=$(git log -1 --pretty=format:'%h - %s')" >> $GITHUB_ENV

      - name: Update README
        run: |
          VERSION="## v${{ env.VERSION }}"
          RELEASE_DATE="**RELEASE DATE:** $(date +'%Y-%m-%d')"
          CHANGE_LOG="### CHANGE LOGS\n${{ env.CHANGE_LOG }}\n"

          if grep -q "$VERSION" README.md; then
            # If the version exists, append the new changelog below it
            awk -v new_log="$CHANGE_LOG" '/^### CHANGE LOGS/{print; print new_log; next}1' README.md > temp.md && mv temp.md README.md
          else
            # If it's a new version, prepend it at the top
            echo -e "$VERSION\n\n$RELEASE_DATE\n\n$CHANGE_LOG\n$(cat README.md)" > README.md
          fi

      - name: Commit and push changes
        env:
          PAT: ${{ secrets.PAT_TOKEN }}
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add README.md
          git commit -m "Update README with latest changelog" || echo "No changes to commit"
          git push https://x-access-token:${PAT}@github.com/aakss/PracticeApp.git main
